blog.html linguist-detectable=false
category.html linguist-detectable=false
confirmation.html linguist-detectable=false
contact_process.php linguist-detectable=false
index.html  prepros-6.config linguist-detectable=false
singleblog2.html linguist-detectable=false
singleblog4.html linguist-detectable=false
single-blog.html linguist-detectable=false
single-product.html linguist-detectable=false
cart.html linguist-detectable=false
checkout.html linguist-detectable=false
contact.html linguist-detectable=false
elements.html linguist-detectable=false
login.html linguist-detectable=false
registration.html linguist-detectable=false
singleblog3.html linguist-detectable=false
singleblog5.html linguist-detectable=false
singleblog.html linguist-detectable=false
termsandconditions.html linguist-detectable=false
tracking.html linguist-detectable=false