*.html linguist-detectable=false
blog.html linguist-detectable=true
*.css linguist-detectable=false
*.js linguist-detectable=false
custom.js linguist-detectable=false
mail-script.js linguist-detectable=false
*.scss linguist-detectable=false